# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.envrc

# Environment variables / secrets
.env
.env.*

# Packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type check / linters
.mypy_cache/
.ruff_cache/
.pytype/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

